#theme-container {
	--fg-dark: var(--base04);
	--fg: var(--base05);
	--fg-bright: var(--base06);
	--white: var(--base07);

	--black: var(--base00);
	--bg: var(--base01);
	--bg-bright: var(--base02);
	--bg-brighter: var(--base03);

	--mention-color: var(--base08);
	--danger-color: var(--base09);
	--warning-color: var(--base0A);
	--success-color: var(--base0B);
	--link-color: var(--base0C);
	--accent-color3: var(--base0D);
	--accent-color2: var(--base0E);
	--accent-color: var(--base0F);
}

.light {
	--base00: #ffffff;
	--base01: #fdfcfa;
	--base02: #f6f0e8;
	--base03: #c7b9a1;
	--base04: #423827;
	--base05: #292319;
	--base06: #1d1911;
	--base07: #050403;
	--base08: #C23C3C;
	--base09: #E28C87;
	--base0A: #E6AD80;
	--base0B: #96A977;
	--base0C: #5d89b7;
	--base0D: #AC5757;
	--base0E: #bb847b;
	--base0F: #6464bb;
}
